
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li {
    list-style: none;
}

button{
    border: none;
}

img {
    display: block;
}

/* img{
display: block;
width: 100%;
height: auto; 
} */



/* // Спрятанные элементы */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------RESET---Скидання стилів--------*/

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
    font-family: inherit;
}
/*--------------------------------------*/
:root {
    --main-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --focus-color: #FFFFFF;
    --typical-padding: 94px;
}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-size: 14px;
}

.list {
    list-style: none;
}


.header-container {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

}
.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

.section {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.header {
        border: 1px solid #ECECEC;
        
}

.header-navigation {
    display: flex;
    margin-right: auto;
    
}


.header-list {
display: flex;
justify-content: right;

}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #2196F3;
display: block;
margin-right: 93px;
}

   
.logo-accent {color: var(--title-color);}

.header-item {
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.19;
letter-spacing: 0.02em;
color: #2196F3;
padding-top: 24px;
padding-bottom: 24px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}
.header-link{
    color: #000;
    
}

.header-link:hover,
 .header-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contacts {
    color: var(--main-color);
}


/*-----------MAIN-----Section Hero-----*/


.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
/*позиционирование картинки*/
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-backend.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--focus-color);
/* padding: 200px 452px 280px 452px; */
margin-left: auto;
margin-right: auto;
}

/*----BUTTON------*/
.hero-btn {
background: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
        
.hero-btn:hover {
    background-color: #188CE8;
}
.hero-btn {
    cursor: pointer;
    width: 200px;
height: 50px;
margin-top: 30px;
border-radius: 4px;
}



/*------Section about ----*/
.about-list {
    display: flex;
    justify-content: space-between;
    }
   

.about-item {
    flex-basis: calc(100% / 4 - 30px);
        
}
.about-item:not(:last-child) {
    margin-right: 15px;
}
 
 .about-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--title-color);
margin-bottom: 10px;

}

.about-text {
font-size: 14px;
line-height: 1.71;
color: var(--main-color);
/* width: 270px; */
min-height: 75px;
}

/*-------Activity-------*/
.activity-title, .masters-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--title-color);
}
.activity {
    padding-top: 0;
}

.activity-title {
    margin-left: auto;
margin-right: auto;
text-align: center;
margin-bottom: 50px;
}

.activity-list {
    display: flex;
    margin-top: 50px;
    margin: -15px;
}

.activity-item {
    margin: 15px;
    flex-basis: calc(100% / 3 - 30px);

}

/*--------- Masters --*/
.masters {
    background-color: #F5F4FA;
}
.masters-title {
    text-align: center;
    margin-bottom: 50px;
}
.masters-list {
    display: flex;
    margin: -15px;
}

.team-item-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 30px;
    margin-bottom: 10px; */
}
.masters-item {
    background-color: var(--focus-color);
    margin: 15px;
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.masters-item-title {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-bottom: 10px;
/* background-color: var(--focus-color); */

}
.masters-item-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
        color: var(--main-color);
        margin-bottom: 16px;
        /* background-color: var(--focus-color); */
/* margin-bottom: 10px; */
    }

.masters-soc-list {
    display: flex;
    justify-content: center;
}

    .masters-soc-item {
        width: 44px;
        height: 44px;
        margin-right: 10px;
    }
    .masters-soc-item:last-child {
        margin-right: 0;
    }

    .masters-soc-link {
        width: 100%;
        height: 100%;
        /*поменять цвет на белый - задать правило*/
        background-color: var(--focus-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .masters-soc-icon {
        fill: #AFB1B8;
    }

  
    .masters-soc-link:hover,
    .masters-soc-link:focus {
        background-color: var(--accent-color);
    }

   .masters-soc-link:hover .masters-soc-icon,
   .masters-soc-link:focus .masters-soc-icon {
       fill: var(--focus-color);
    }
  

/*------FOOTER------*/

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--focus-color);
    margin-bottom: 20px;
   }
.footer-img {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    margin-right: 93px;
    display: block;
    margin-bottom: 20px;

}
.address-item, .link-mail, .link-tel {
font-size: 14px;
line-height: 1.71;
color: #FFFFFF;
font-style: normal;
}

.address-item:not(:last-child){
    margin-bottom: 9px;
}
 
.link-color {
color: var(--main-color);
}

.address-item:hover, .address-item:focus,
.link-color:hover, .link-color:focus {
    color: var(--accent-color);
}


/*-------------PORTFOLIO--2------------*/

.roster {
    /* background-color: #F5F4FA; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: -94px;
}
.roster-item:not(:last-child){
    margin-right: 8px;
}

.roster-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
color: var(--title-color);
padding: 6px 22px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.roster-btn:hover, .roster-btn:focus {
    background-color: var(--accent-color);
    color: var(--focus-color)
}

.roster-btn {
    cursor: pointer;
}
.current-btn {
    color: var(--focus-color);
    background-color: var(--accent-color);
}
.images {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}
.images-item {
    margin: 15px;
    flex-basis: calc(100% / 3 - 30px);
}
.portfolio-text-wrapper {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
}

.images-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);

}

.images-text {
font-size: 16px;
line-height: 1.87;
color: var(--main-color);
}
